    <div class="seperateDiv">
    <!-- Heading -->
    <h2 class="mb-5 font-weight-bold">About</h2>
    <!--Grid row-->
    <div class="row d-flex justify-content-center mb-4">
      <!--Grid column-->
      <div class="col-md-8">
        <!-- Description -->
        <p class="grey-text">Tel Aviv is one of the most vibrant cities in the world. Titled the ‘Mediterranean Capital of Cool’ by the New York Times, this is a 24 hour city with a unique pulse, combining sandy Mediterranean beaches with a world-class nightlife, a buzzing cultural scene, incredible food, UNESCO recognized architecture, and an international outlook. Don’t miss it!
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-4 mb-5">
        <i class="fas fa-camera-retro fa-4x blue-text"></i>
        <h4 class="my-4 font-weight-bold">View</h4>
        <p class="grey-text">You can find in Tel-Aviv amazing breathtaking places. Take a photo and cherish it.</p>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-4 mb-1">
        <i class="fas fa-heart fa-4x blue-text"></i>
        <h4 class="my-4 font-weight-bold">Love</h4>
        <p class="grey-text">In Tel-Aviv you will find the most loving nice and warm people. Try to make a friend or two.</p>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-4 mb-1">
        <i class="fas fa-sun fa-4x blue-text"></i>
        <h4 class="my-4 font-weight-bold">Weather</h4>
        <p class="grey-text">In Tel-Aviv its almost everyday a good day for the beach. Go out, work on your tan and dive into the cool water.</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>