    <!-- Heading -->
    <h2 class="mb-5 font-weight-bold">About</h2>
    <!--Grid row-->
    <div class="row d-flex justify-content-center mb-4">
      <!--Grid column-->
      <div class="col-md-8">
        <!-- Description -->
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident
          nulla repellat
          facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
          sit pariatur.</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-4 mb-5">
        <i class="fas fa-camera-retro fa-4x orange-text"></i>
        <h4 class="my-4 font-weight-bold">Experience</h4>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam minima
          assumenda deleniti hic.</p>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-4 mb-1">
        <i class="fas fa-heart fa-4x orange-text"></i>
        <h4 class="my-4 font-weight-bold">Happiness</h4>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam minima
          assumenda deleniti hic.</p>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-4 mb-1">
        <i class="fas fa-bicycle fa-4x orange-text"></i>
        <h4 class="my-4 font-weight-bold">Adventure</h4>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam minima
          assumenda deleniti hic.</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->