<!-- Trigger the modal with a button -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{poi.name}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <span ng-if="existsInFav" ng-show="login" ng-click="removeFromFavorites()" class="fa fa-star"
                    ng-class="{checked: enabled[poi.id]}"><label>Remove from favorites</label></span>
                    <span ng-if="!existsInFav" ng-show="login" ng-click="addToFavorites()" class="far fa-star"
                    ng-class="{checked: enabled[poi.id]}">Add to favorites</span>
                <p>{{poi.description}}</p>
                <p>Num of views: {{poi.views}}</p>
                <p>Rating: {{poi.rating}}</p>
                <table class="table" ng-hide="flag[poi.id]">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User </th>
                            <th scope="col">Review</select></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="x in poi.reviews">
                        <tr>
                            <th scope="row">{{$index}}</th>
                            <td>{{x.username }}</td>
                            <td>{{x.review}}</td>

                        </tr>
                    </tbody>
                </table>
                <div ng-hide="reviewWindow">
                    <form name="reviewform" class="form-group"
                        ng-submit="reviewform.$valid && submitReview()">
                        <label for="rating_label">Rating:</label>
                        <input name="userRating" id="rating_label" type="text" ng-model="review.rank"
                            class="form-control" ng-pattern="/^(?:[1-5])$/" required>
                        <p ng-show="reviewform.userRating.$touched && reviewform.userRating.$invalid"
                            style="color:red;">rating must be in range 1 - 5</p>
                        <label for="review_label">Review:</label>
                        <input id="review_label" type="textarea" ng-model="review.comment" class="form-control">
                        <input class="btn btn-primary" type="submit" value="submit" ng-disabled="reviewform.$invalid" />
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="clearReview()" class="btn btn-default"
                    data-dismiss="modal">Close</button>
                <button ng-click="openReview()" ng-show="login" type="button" class="btn btn-default">add
                    review</button>

            </div>
        </div>

    </div>
</div>