<!-- Trigger the modal with a button -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">{{poi.name}}</h4>
              
            </div>
            <div class="modal-body">
                <span ng-show="login" ng-click="checkpoi()" class="fa fa-star" ng-class="{checked: enabled[poi.ID]}"></span>
      
                  <img class="card-img-top" ng-src="{{poi.image}}" alt="Card image cap">
                  <p>{{poi.description}}</p>
                   <p>Num of views: {{poi.numOfViews}}</p>
                  <p>Rating: {{poi.rating.toFixed(1)}}</p>
                  <table class="table" ng-hide="flag[poi.ID]">
                          <thead class="thead-dark">
                          <tr >
                              <th scope="col">#</th>
                              <th scope="col">User </th>
                              <th scope="col">Review</select></th>       
                          </tr>
                          </thead>
                          <tbody ng-repeat="x in poi.reviews">
                          <tr>
                              <th scope="row">{{$index}}</th>
                              <td>{{x.username }}</td>
                              <td>{{x.review}}</td>
                              
                          </tr>
                          </tbody>
                      </table>
                      <div ng-hide="review">
                        <form name="reviewform" class="form-group" ng-submit="reviewform.$valid && submitReview(userRating,userReview)">
                                <label for="rating_label">Rating:</label>
                                <input name="userRating" id="rating_label" type="text" ng-model="userRating"  class="form-control" ng-pattern="/^(?:[1-5])$/" required>
                                <p ng-show="reviewform.userRating.$touched && reviewform.userRating.$invalid" style="color:red;">rating must be in range 1 - 5</p>
                                <label for="review_label">Review:</label>
                                <input id="review_label" type="textarea" ng-model="userReview" class="form-control">
                                <input class="btn btn-primary" type="submit" value="submit" ng-disabled="reviewform.$invalid"/>
                        </form>
                  </div>
      
            </div>
            <div class="modal-footer">
              
              <button type="button" ng-click="cleareview()" class="btn btn-default" data-dismiss="modal">Close</button>
              <button ng-click="openreview()" ng-show="login" type="button" class="btn btn-default">add review</button>
            
          </div>
          </div>
      
        </div>
      </div>
      